<div id="city-cover-photo">
  <img src="<%= @city.image %>" id="city-image" />
</div>

<div class="text-center">
  <h1><%= @city.name %></h1>
</div>

<div class="text-center">
  <% @trend_names.each do |tn| %>
    <span>
      <p>#<%= tn %></p>  
    </span>
  <% end %>
</div>

<% @images.each do |img| %>
  <div id="image-section">
    <div class="row">
      <div class="text-center">
        <a href="<%= img['link'] %>" target="_blank">
          <%= image_tag img['images']['standard_resolution']['url'] %>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <p><%= img['likes']['count'] %> Likes</p>
        <h3><%= img['user']['username'] %></h3>
        <p id="image-caption"><%= img['caption']['text'] %></p>
      </div>  
    </div>
    <div class="row">
      <div class="text-center"><%= link_to "Like Photo", "/media_like/#{ img['id'] }", class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>
