<style>
  #city-cover-photo {
    background: url(<%= @city.image %>);
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  #city-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 175px;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    color: #fff;
  }
</style>
<div id="city-cover-photo">
  <div class="text-center">
    <p id="city-name"><%= @city.name %></p>
  </div>
</div>


<div class="text-center">
  <% @trend_names.each do |tn| %>
    <span>
      <p>#<%= tn %></p>  
    </span>
  <% end %>
</div>

<% @images.each do |img| %>
  <div id="image-section">
    <div class="row">
      <div class="text-center">
        <a href="<%= img['link'] %>" target="_blank">
          <%= image_tag img['images']['standard_resolution']['url'] %>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <p><%= img['likes']['count'] %> Likes</p>
        <h3><%= img['user']['username'] %></h3>
        <p id="image-caption"><%= img['caption']['text'] %></p>
      </div>  
    </div>
    <div id="buttons" class="text-center">
      <div id="like-button"><%= link_to "Like Photo", "/media_like/#{ img['id'] }", class: "btn btn-primary" %></div>
      <div id="unlike-button"><%= link_to "Unlike Photo", "/media_unlike/#{ img['id'] }", class: "btn btn-danger" %></div>
    </div>
  </div>
<% end %>
