<style>
  #city-cover-photo {
    background: url(<%= @city.image %>);
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  #city-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 175px;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    color: #fff;
  }
</style>
<div id="city-cover-photo">
  <div class="text-center">
    <p id="city-name"><%= @city.name %></p>
  </div>
</div>


<div class="text-center">
  <% @trend_names.each do |tn| %>
    <span>
      <p>#<%= tn %></p>  
    </span>
  <% end %>
</div>

<% @images.each do |img| %>
  <div id="image-section">
    <div class="row">
      <div class="text-center">
        <a href="<%= img['link'] %>" target="_blank">
          <%= image_tag img['images']['standard_resolution']['url'] %>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <h3><%= img['user']['username'] %></h3>
        <p id="image-caption"><%= img['caption']['text'] %></p>
      </div>  
    </div>
    
    <!-- only shows like buttons if user is logged in -->
      <div class="row" id="like-buttons">
        <div class="col-md-4">
          <% if current_user %>
            <div class="text-center"><%= link_to "Like Photo", "/media_like/#{ img['id'] }", class: "btn btn-primary btn-lg" %></div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="text-center" id="likes-count">
            <% if img['likes']['count'] == 1 %>
              <p><%= img['likes']['count'] %> Like</p>
            <% else %>
              <p><%= img['likes']['count'] %> Likes</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <% if current_user %>
            <div class="text-center"><%= link_to "Unlike Photo", "/media_unlike/#{ img['id'] }", class: "btn btn-danger btn-lg" %></div>
          <% end %>
        </div>
      <% end %>
      </div>
  </div>
<% end %>
