<!DOCTYPE html>
<html>
<head>
  <title>TrndngApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  Welcome <%= link_to current_user.name, current_user %>! | <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Instagram", "/auth/instagram" %>
<% end %> 

<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <li class="nav active app-logo"><%= link_to "", root_path %></li>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "About", about_path %><span class="sr-only">(current)</span></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Locations<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Location.all.each do |location| %>
              <li><%= link_to location.name, trends_path(:woeid => location.woeid) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
