<!DOCTYPE html>
<html>
<head>
  <title>TrndngApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

</head>

<body>

<nav>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav navbar-nav">
      <a class="nav" href="/"><img src="http://i.imgur.com/hc2cEL4.png" id="nav-logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "About", about_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Locations<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Location.all.each do |location| %>
              <li><%= link_to location.name, trends_path(:woeid => location.woeid) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-right">
        <% if current_user %>
          <li><%= current_user.username %></li><li class="active"><%= link_to "Sign out", signout_path %></li>
        <% else %>
          <li class="active"><%= link_to "Sign in with Instagram", "/oauth/connect" %></li>
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>
>
<div class="footer">
  <div class="pull-left">
    <p>Trend.ng</p>
  </div>
  <div class="pull-right">
    <p>App created by <a href="https://github.com/smshin7">Scott Shin</a> as a Project for General Assembly</p>
  </div>
</div>

</body>
</html>
